{% extends 'card/base.html' %}

{% block content %}
<div class="container aboutcontainer">
	<h1 class="title abouttitle">About</h1>

	<div class="row">
		<div class="col-md-offset-2 col-sm-8 col-xs-12 abouttext">
			<p class="lead">
				Bamboo is a way to organize content into flash cards. It is best for 
				courses that contain a lot of terms with definitions, and courses that
				require a lot of memorization. 
			</p><!--lead-->
		</div><!--col-->
	</div><!--row-->
</div><!--container-->
{% endblock %}