{% extends 'card/base.html' %}
{% block title %}Decks{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="jumbotron">
	<div class="container deckjumbo">
		<h2 class="deckname">{{deck.name}}</h2>
		<p class="deckdescription">{{deck.description}}</p>
		<a href="{% url 'card:card_new' deck=deck.id %}"><button type="button" class="btn btn-lg btn-default">Add card</button></a>
		<a href="{% url 'card:deck_edit' deck=deck.id %}"><button type="button" class="btn btn-lg btn-default">Edit Deck</button></a>
		<a href="{% url 'card:deck_delete' deck=deck.id %}"><button type="button" class="btn btn-lg btn-default">Delete deck</button></a>
	</div><!--container-->
</div><!--jumbotron-->

<div class="container-fluid listcontainer cardscontainer">

	{% if deck.card_set.all %}
	<div class="hideoptions">
		<p id="hideterms">hide terms</p>
		<p id="hidedefinitions">hide definitions</p>
	</div><!--hide-->

	<div class="row cardrow">
		<div class="col-md-offset-2 col-sm-offset-1 listcol cards">
			<div class="row">
				{% for card in deck.card_set.all %}
				<div class="col-xs-12 col-sm-3 single singlecard">
					<h3 class="cardterm">{{card.term}}</h3>
					<p class="cardefinition">{{card.definition}}</p>
					<a href="{% url 'card:card_delete' deck=deck.id card=card.id %}">Delete</a>
				</div><!--singlecard-->
				{% endfor %}
			</div><!--row-->
		</div><!--cards-->
	</div><!--row-->

	{% else %}

	<p class="lead nocontent">You don't have any cards in this deck!</p>
	{% endif %}
</div><!--container-fluid-->


{% endif %}
{% endblock %}