{% extends 'card/base.html' %}
{% load bootstrap3 %}
{% block title %}Add Deck{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	<div class="container-fluid newcardformcontainer">
		<div class="row">
			<div class="col-md-offset-2 col-sm-offset-1 col-sm-8 formcol editdeckformdiv">
				<h1 class="title deckformtitle">Edit deck</h1>
				<form method="POST" class="post-form">
					{% csrf_token %}
					{% bootstrap_form form %}

					{% buttons %}
					<button type="submit" class="save btn btn-default btn-lg deckformbutton center-block">Save</button>
					{% endbuttons %}
				</form>
			</div><!--col-->
		</div><!--row-->
	</div><!--container-->
	{% endif %}
{% endblock %}