{% extends 'card/base.html' %}
{% block title %}Bamboo{% endblock %}
{% load bootstrap3 %}

{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron">
	<div class="container">
		<h1 id="welcomemessage"><span id="greet">Hello</span> {{user.first_name}},</h1>
		<p class="lead" id="compliment">We hope you have a great time studying :)</p>
		<a href="{% url 'card:deck_new' %}"><button type="button" class="btn btn-lg btn-default">Create new deck</button></a>
		<a href="#"><button type="button" class="btn btn-lg btn-default">Create new quiz</button></a>
	</div><!--container-->
</div><!--jumbotron-->

<div class="container-fluid listcontainer decklistcontainer">
	<h2 class="decklisttitle">Decks</h2>

	{% if decks %}
	<p id="hidedeck">hide decks</p>

	<div class="row deckrow">
		<div class="col-md-offset-2 col-sm-offset-1 listcol decks">
			<div class="row">
				{% for deck in decks %}
					<div class="col-xs-12 col-sm-3 single singledeck">
						<p class="deckname"><a href="{% url 'card:detail' deck=deck.id %}">{{deck.name}}</a><p>
						<p class='deck-description'>{{deck.description}}</p>
					</div><!--col-->
				{% endfor %}
			</div><!--row-->
		</div><!--col-->
	</div><!--row-->
	{% else %}
	<p class="lead nocontent">You have no decks!</p>
	{% endif %}

</div><!--container-->

<div class="container-fluid quizlistcontainer">
	<h2 class="decklisttitle">Quizzes</h2>

	<p id="hidequiz">hide quizzes</p>

	<div class="row">
		<div class="col-md-offset-2 col-sm-offset-1 decks">
			<div class="row quizrow">
				{% for deck in decks %}
					<div class="col-xs-12 col-sm-3 single singlequiz">
						<p class="deckname"><a href="{% url 'card:detail' deck=deck.id %}">{{deck.name}}</a><p>
						<p class='deck-description'>{{deck.description}}</p>
					</div><!--col-->
				{% endfor %}
			</div><!--row-->
		</div><!--col-->
	</div><!--row-->

</div><!--container-->

<div class="container-fluid emptyspace">

</div>
















{% else %}

{% include 'card/home.html' %}

{% endif %}

{% endblock %}