/* hamburger menu */
.icon-bar { background-color: #87421F !important; }

/* remove default link settings */
a, a:link, a:visited, a:hover {
	text-decoration: none;
	color: #855E42;
	font-weight: bold;
	font-size: 19px;
}

.nav-link {
	font-size: 15px;
}

* {
	font-family: 'Bitter', serif;
}
/* this is how to have no space between navbar and jumbotron */
.navbar, .jumbotron { margin-bottom: 0; }


.jumbotron {
	text-align: center;
	background: #fdf5ef;
}

.appname { color: #87421F !important; }

.appcatch {
	 color: #855E42;
	 font-weight: 500 !important;
 }

/* features */
#featurestext { text-align: center; }

.features-container { 
	padding: 20px;
	background: #fdfdfd; 
}

.explanation { font-weight: bold; }

/* features */

.example {
	border: solid;
	padding: 22px;
	overflow: hidden;
	border-radius: 20px;
	height: 230px;
	color: #2A363B;
	box-shadow: 10px 4px 5px #888888;
	background: #fdfdfd;
}

.cardexample, .quizexamplename, .deckexampletitle { text-align: center; }

.hideexample { background: #2A363B; }

.hideexample:hover { background: white; }

.questionexample { font-size: 15px; }

.listexample {
	color: RoyalBlue;
	font-weight: bold;
	font-size: 17px;
}